/* TicTacToe styles */

body {
    background: black;
    color: white;
}

.main-Page-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.current-player-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
}

.player-slot {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.player-slot-left {
    justify-self: end;
}

.player-slot-right {
    justify-self: start;
}

.player-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tt-Container {
    --box-width: 8vmax;
    display: grid;
    grid-template-columns: repeat(3, var(--box-width));
    grid-template-rows: repeat(3, var(--box-width));
    background-color: black;
}

.tt-item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid white;
    cursor: pointer;
}

.tt-token {
    font-size: 5vmax;
    font-weight: bold;
    line-height: 1;
}

.tt-token-X {
    color: #23a6d5;
}

.tt-token-O {
    color: #e73c7e;
}
